body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rect::after{
  content: '';
  position: absolute;
  z-index: -10;
  top: -5px;
  right: 10px;
  background-color: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
  transform: rotate(45deg);
}
.rect:hover::after{
  background-color: rgb(148 163 184);
}